<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Authentication Entry Level Development!</h1>
  <p class="lead">Let's Share Data And Information.</p>
  <p><a class="btn btn-lg btn-default" href="https://www.spritle.com/" role="button" target="frame1">Go To Spritle Site!</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="col-lg-4">
  <h2>General Information 1</h2>
  <p>Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation.</p>
  <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Main_Page" role="button" target="frame1">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
  <h2>General Information 2</h2>
  <p>Node.js is an open-source, cross-platform, back-end, JavaScript runtime environment that executes JavaScript code outside a web browser.</p>
  <p><a class="btn btn-default" href="https://nodejs.org/en/about/" role="button" target="frame1">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
  <h2>General Information 3</h2>
  <p>Stack Overflow is the largest, most trusted online community for developers to learn, share​ ​their programming ​knowledge, and build their careers.</p>
  <p><a class="btn btn-default" href="https://stackoverflow.com/" role="button" target="frame1">View details &raquo;</a></p>
</div>
</div>
